.header {
  margin: 92px 49px 92px 51px;
  font-weight: 400;
  font-family: Raleway;
  font-size: 18px;
  line-height: 24.3px;
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  justify-items: center;
}

.header_menu {
  display: flex;
  color: #000;
  justify-self: start;
  align-self: center;
}

.header_links-list {
  display: flex;
  list-style-type: circle;
  gap: 32px;
}

.header_links-list a {
  text-underline-offset: 5px;
}

.header__links-list-item {
  list-style-type: none;
  text-decoration: none;
}

.header_logo {
  display: block;
  width: 135px;
  height: 105px;
}

.address {
  justify-self: end;
  align-self: center;
}

.text-underline-offset {
  text-underline-offset: 5px;
}

/*************************      входная секция       ************************/

.cover {
  height: 700px; /* еобходимо будет убрать после добалвения содержания */
  background: url(/images/cover.jpg) no-repeat center/contain;
}

.overlay {
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* это псевдо элемент */

.buttonpsevdo::before {
  content: "заказать";
}

.buttonpsevdo:hover::before {
  content: "скореее!";
}
